<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BFIMC</title>
    <meta content="A member-owned cooperative building stronger families and futures in Baguio City." name="description">
    <meta content="" name="keywords">

    <link href="assets/img/BFI_logo.png" rel="icon">
    <link href="assets/img/BFI_logo.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <!--      <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1>-->
        <a href="index.php" class="logo me-auto me-lg-0" aria-label="BFIMC home">
            <img src="assets/img/BFI_logo.png" alt="Beatitudes Family International Multipurpose Cooperative" class="img-fluid">
            <span class="brand-name">BFIMC <small>Cooperative</small></span>
        </a>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link on-click scrollto home-page-link" href="index.php">Home</a></li>
                <li><a class="nav-link on-click scrollto home-page-link " href="index.php#about">About</a></li>
                <li><a class="nav-link on-click home-page-link " href="?portfolio">Portfolio</a></li>
                <li><a class="nav-link on-click home-page-link " href="?membership">Membership</a></li>
                <li><a class="nav-link on-click home-page-link " href="?services">Services</a></li>
                <li><a class="nav-link on-click home-page-link " href="?contacts">Contacts</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <div class="account-nav">{{ACCOUNT_NAV}}</div>

    </div>
</header>
